<!DOCTYPE html>
<html>

<head>
    <title>INF226 Tiny Login</title>
	<link rel="icon" href="favicon.png" type="image/png" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="page">
    <form action="" method=post>
  <dl>
      {{ form.csrf_token }}

    <dt>Username:
    <dd>{{ form.username }}
    <dt>Password:
    <dd>{{ form.password }}
  </dl>
  <p>
    <input type=submit value=Login>
    <input type=hidden value="{{ next or '' }}" name=next>
</form>
<p> Dont have an account? </p> 
<a href=createUser >Click here to create an account</a>
    </div>
</body>
